@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}

.full {
    display: flex;
}

.info {
    flex-direction: column;
    width: 50%;
}

.image {
    width: 50%;
}
h2.title {
    font-size: 53px;
}

p.detail {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 21px;
}

button.gb {
    padding: 10px 20px;
    background: #E02C6D;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 18px;
}